@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Dan Coyne has been a Formaula 1 fan for years. His favorite team is Redbull Racing and enjoys following them. He has watched F1 for the last 3 years. 
</p>
