@{
    ViewBag.Title = "Contact Dan";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    107 Mill Street<br />
    Athens, Ohio 45701<br />
    <abbr title="Phone">P:</abbr>
    330.524.8322
</address>

<address>
    <strong>Email</strong>   <a href="mailto:dc609615@ohio.edu">dc609615@ohio.edu</a><br />
</address>